._ {
	background: var(--primary-gray);
	border: 1px solid var(--primary-gray);
	height: 36px;
	padding: 12px;
	margin: 0 16px;
	font-size: 16px;
	border-radius: var(--border-radius-m);
	max-width: 400px;

	&::-webkit-input-placeholder {
		color: var(--text-color-black);
		/* color: #ccc; */
	}
	&:focus {
		outline: node;
		border: 1px solid var(--focus-outline-color);
	}
}
